
<div class="homeMain">

    <div class="images ">   
        <img style="opacity: 0.9;" src="../../assets/images/backgroundImage1.jpeg" >
        <img  style="opacity: 0.8;" src="../../assets/images/backgr.jpeg">
        <img style="opacity: 0.9;" src="../../assets/images/backgroundImage1.jpeg">
        </div>
    
    
     <div >
        <h2 class="description">Full Service Asian Restaurant</h2>
    
    </div>
    <div >
        <h2> <a class="nav-link" routerLink="../product-page"><button class="btn btn-success">Discover Our Menu</button></a></h2>
    </div>
    
    
    
    
    <div class="line">
    <img src="../../assets/images/pngegg.png" class="img-fluid"  alt="">
    </div>
    
    
    <div class="roundImages" >
       <img  src="../../assets/images/homeImage.png"   >
       <img  src="../../assets/images/homeImage2.png" style="transform: rotate(180deg);">
      
     
    </div >
    
    
    <div class="line">
        <img src="../../assets/images/pngegg.png" class="img-fluid"  style="transform: rotate(180deg);" alt="">
        </div>
    
    <div class="endDiv" >
        <img  src="../../assets/images/homeImage4.png" >
        <div class="endTextDiv" >
            <h2 style="color: rgb(181, 37, 37) !important;">Indulge in Our Exquisite Flavors and Discover a Culinary Journey Like No Other!</h2>
            <p >Welcome to Asian Foods Market & Restaurant, your passport to an exquisite culinary journey through the diverse and vibrant flavors of Asia. Nestled in the heart of Tupelo, Mississippi, our full-service Asian restaurant and market is a celebration of tradition, 
            taste, and togetherness. Our expert chefs meticulously craft each dish, infusing it with the essence of Asia’s rich culinary heritage.</p>
        </div>
    
    </div>
    
    </div>
    
    
    
    
    